@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a small university in the hills and
            mountains of central Oregon focused on bringing a quality
            education at low cost to students.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Experience the outdoors!</h2>
        <p>
            Our location has led us to focus on programs including Forestry,
            Agriculture, and Wildlife Management. Come and study more about
            the outdoors in one of our highly reccomended programs!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Apply Now!</h2>
        <p>
            While registration is open year-round, classes fill up quickly,
            so apply now and secure you future as a Moutaineer!
        </p>
    </div>
    <div class="row">
        <img src="https://images.pexels.com/photos/830965/pexels-photo-830965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    </div>
</div>